@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

/* side bar styles */

.side{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 240px;
    background: #11101d;
    padding: 6px 14px;
}

.side .content .logo{
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
}

.content .logo i{
    font-size: 28px;
    margin-right: 5px;
}

.content .logo .logo-name{
    font-size: 20px;
    font-weight: 400;
}

#short-cut{
    text-decoration: underline;
    color: inherit;
}

.side #menu-tab{
    position: absolute;
    color: #fff;
    left: 90%;
    top: 10px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.side .link-names{
    margin-top: 20px;
}

.side ul li{
    position: relative;
    height: 40px;
    width: 100%;
    margin: 0 5px;
    list-style-type: none;
    line-height: 40px;
    border-radius: 10px;
}

.side li a:hover{
    color: #11101d;
    background: #fff;
    border-radius: 12px;

}

.side li a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.5s ease;
}

.side li a i{
    height: 40px;
    min-width: 25px;
    border-radius: 10px;
    line-height: 40px;
    text-align: center;
}

/* social media styles*/

.side .media-links{
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
}

.media-links .social-networks li a{
    margin-left: 15px;
    text-align: center;
    align-items: center;
    display: flex;
    border-radius: 12px;
}

/*Home page styles*/

.home-content{
    position: absolute;
    height: 100%;
    width: calc(100% - 240px);
    left: 240px;
}

.home-content .content-text{
    font-size: 25px;
    font-weight: 500;
    color: #11101d;
    margin: 12px;
}

.content-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 30px;
    background-color: whitesmoke;
    border: 1px solid transparent;
    opacity: 0.7;
    border-radius: 12px;
    padding: 20px 20px;
}

.bottom-content{
    position: absolute;
    color: whitesmoke;
    bottom: 0;
    left: 0;
    width: calc(100% - 240px);
    left: 240px;
    font-size: 10px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 20px;
}

#home-image{
    display: block;
    width: 100%;
    height: 100%;
}

.content-text h1{
    text-align: center;
    color: black;
    margin-bottom: 20px;
}

.content-text p{
    text-align: justify;
    color: black;
    font-style: italic;
}

/* main page styles */

.home-content .content-text h2{
    text-align: center;
    padding-bottom: 20px;
}

#content-design div{
    padding-bottom: 20px;
}

.total{
    display: flex;
    flex-direction: row;
}