@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Lato", "Roboto";
}

body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

/* side bar styles */

.side{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 240px;
    background: #11101d;
    padding: 6px 14px;
}

.side .content .logo{
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
}

.content .logo i{
    font-size: 28px;
    margin-right: 5px;
}

.content .logo .logo-name{
    font-size: 20px;
    font-weight: 400;
}

#short-cut{
    text-decoration: underline;
    color: inherit;
}

.side #menu-tab{
    position: absolute;
    color: #fff;
    left: 90%;
    top: 10px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.side .link-names{
    margin-top: 20px;
}

.side ul li{
    position: relative;
    height: 40px;
    width: 100%;
    margin: 0 5px;
    list-style-type: none;
    line-height: 40px;
    border-radius: 10px;
}

.side li a i{
    height: 40px;
    min-width: 25px;
    border-radius: 10px;
    line-height: 40px;
    text-align: center;
}

.side li a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.25s ease;
}

.side li a:hover{
    color: #11101d;
    background: #fff;
    border-radius: 12px;

}

#toggle1{
    position: absolute;
    height: 40px;
    width: 100%;
    margin: 0 auto;
    list-style-type: none;
    line-height: 40px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 12px;
}

#toggle1:hover{
    color:#fff;
    background: #11101d;
    border-radius: 12px;
}

/* social media styles*/

.side .media-links{
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
}

.media-links .social-networks li a{
    margin-left: 15px;
    text-align: center;
    align-items: center;
    display: flex;
    border-radius: 5px;
}

#networks{
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    padding-bottom: 10px;
}

#networks:hover{
    color:#fff;
    background: #11101d;
    border-radius: 10px;
    padding: 10px 10px;
    transition: all 0.25s ease;
}

.active{
    border-bottom: 2px solid #fff;
    width: 80px;
}

/* footer */

.bottom-content{
    position: absolute;
    color: whitesmoke;
    bottom: 0;
    left: 0;
    width: calc(100% - 240px);
    left: 240px;
    font-size: 10px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 20px;
}

/*Home page styles*/

.home-content{
    position: absolute;
    height: 100%;
    width: calc(100% - 240px);
    left: 240px;
}

.home-content .content-text{
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    margin: 12px;
}

.content-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 30px;
}

#home-image{
    display: block;
    width: 100%;
    height: 100%;
}

.content-text h1{
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

.content-text p{
    text-align: justify;
    color: #fff;
    font-style: italic;
}

/* main page styles */

.home-content .content-text h2{
    text-align: center;
    padding: 20px 20px;
}

#content-design div{
    padding-bottom: 20px;
    border: 2px solid #fff;
}

#content-design{
    border: 2px solid #fff;
}

.home-content .content-text div{
    padding: 20px 20px;
    font-size: 20px;
}

#minor-male{
    margin-left: 74px;
    font-size: 20px;
    font-weight: 700;
}

#minor-female{
    margin-left: 54px;
    font-size: 20px;
    font-weight: 700;
}

#adult-male{
    margin-left: 24px;
    font-size: 20px;
    font-weight: 700;
}

#adult-female{
    margin-left: 5px;
    font-size: 20px;
    font-weight: 700;
}

#add-minor-male-btn{
    margin-left: 10px;
    padding: 10px 10px;
    border-radius: 12px;
    background: red;
    font-size: 15px;
    font-weight: 700;
}

#minus-minor-male-btn{
    margin-left: 10px;
    padding: 10px 10px;
    border-radius: 12px;
    background: red;
    font-size: 15px;
    font-weight: 700;
}

#save-minor-male-btn{
    margin-left: 10px;
    padding: 10px 10px;
    border-radius: 12px;
    background: red;
    font-size: 15px;
    font-weight: 700;
}

#add-minor-male-btn:hover{
    background: turquoise;
    color: white;
    transition: all 0.25s ease;
}

#minus-minor-male-btn:hover{
    background: turquoise;
    color: white;
    transition: all 0.25s ease;
}

#save-minor-male-btn:hover{
    background: turquoise;
    color: white;
    transition: all 0.25s ease;
}

#add-minor-female-btn{
    margin-left: 10px;
    padding: 10px 10px;
    border-radius: 12px;
    background: orange;
    font-size: 15px;
    font-weight: 700;
}

#minus-minor-female-btn{
    margin-left: 10px;
    padding: 10px 10px;
    border-radius: 12px;
    background: orange;
    font-size: 15px;
    font-weight: 700;
}

#save-minor-female-btn{
    margin-left: 10px;
    padding: 10px 10px;
    border-radius: 12px;
    background: orange;
    font-size: 15px;
    font-weight: 700;
}

#add-minor-female-btn:hover{
    background: turquoise;
    color: white;
    transition: all 0.25s ease;
}

#minus-minor-female-btn:hover{
    background: turquoise;
    color: white;
    transition: all 0.25s ease;
}

#save-minor-female-btn:hover{
    background: turquoise;
    color: white;
    transition: all 0.25s ease;
}

#add-adult-male-btn{
    margin-left: 10px;
    padding: 10px 10px;
    border-radius: 12px;
    background: yellow;
    font-size: 15px;
    font-weight: 700;
}

#minus-adult-male-btn{
    margin-left: 10px;
    padding: 10px 10px;
    border-radius: 12px;
    background: yellow;
    font-size: 15px;
    font-weight: 700;
}

#save-adult-male-btn{
    margin-left: 10px;
    padding: 10px 10px;
    border-radius: 12px;
    background: yellow;
    font-size: 15px;
    font-weight: 700;
}

#add-adult-male-btn:hover{
    background: turquoise;
    color: white;
    transition: all 0.25s ease;
}

#minus-adult-male-btn:hover{
    background: turquoise;
    color: white;
    transition: all 0.25s ease;
}

#save-adult-male-btn:hover{
    background: turquoise;
    color: white;
    transition: all 0.25s ease;
}

#add-adult-female-btn{
    margin-left: 10px;
    padding: 10px 10px;
    border-radius: 12px;
    background: green;
    font-size: 15px;
    font-weight: 700;
}

#minus-adult-female-btn{
    margin-left: 10px;
    padding: 10px 10px;
    border-radius: 12px;
    background: green;
    font-size: 15px;
    font-weight: 700;
}

#save-adult-female-btn{
    margin-left: 10px;
    padding: 10px 10px;
    border-radius: 12px;
    background: green;
    font-size: 15px;
    font-weight: 700;
}

#add-adult-female-btn:hover{
    background: turquoise;
    color: white;
    transition: all 0.25s ease;
}

#minus-adult-female-btn:hover{
    background: turquoise;
    color: white;
    transition: all 0.25s ease;
}

#save-adult-female-btn:hover{
    background: turquoise;
    color: white;
    transition: all 0.25s ease;
}

.total{
    display: flex;
    flex-direction: row;
    text-align: center;
}

#total-number-minors{
    margin: 15px 15px;
    font-size: 20px;
    font-weight: 600;
}

#total-number-adults{
    margin: 15px 15px;
    font-size: 20px;
    font-weight: 600;
}

#tally-minors-btn{
    margin-left: 10px;
    margin-top: 10px;
    padding: 10px 10px;
    border-radius: 10px;
    background: turquoise;
    font-size: 15px;
    font-weight: 700;
}

#tally-minors-btn:hover{
    background: blue;
    color: white;
    transition: all 0.25s ease;
}

#tally-adults-btn{
    margin-left: 10px;
    margin-top: 10px;
    padding: 10px 10px;
    border-radius: 10px;
    background: turquoise;
    font-size: 15px;
    font-weight: 700;
}

#tally-adults-btn:hover{
    background: blue;
    color: white;
    transition: all 0.25s ease;
}

/* Tally page */

#table-container{
    position: absolute;
    height: 100%;
    width: calc(100% - 240px);
    left: 240px;
}

#table-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 30px;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    text-align: center;
}

#tally-image{
    display: block;
    width: 100%;
    height: 100%;
}

table{
    text-align: left;
    font-size: 20px;
    border: 1px solid #11101d;
    margin-top: 10px;
}

th{
    padding: 10px 10px;
    border: 1px solid #11101d;
}

td{
    border: 1px solid #11101d;
    padding: 5px 5px;
    text-align: center;
}

#submit{
    display: inline-block;
    background: #fff;
    border: none;
    color: #11101d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 100px;
    
}

#submit:hover{
    color: #fff;
    background: #11101d;
    border-radius: 10px;
    transition: all 0.25s ease;

}

/* calendar page */

.container{
    position: absolute;
    height: 100vh;
    width: calc(100% - 240px);
    left: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar{
    position: absolute;
    width: 30rem;
    height: 100%;
    background-color: #222227;
    font-size: 62.5%;
    font-weight: 500;
    color: #fff;
    text-align: center;
    padding-top: 2rem;
}

.month{
    width: 100%;
    height: 8rem;
    background-color: turquoise;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
}

.month i{
    font-size: 2rem;
    cursor: pointer;
}

.month h1{
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
}

.weekdays{
    width: 100%;
    height: 5rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
}

.weekdays div{
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: calc(44.2rem/7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.days{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
}

.days div{
    font-size: 1.4rem;
    margin: 0.4rem;
    width: calc(44.2rem/13);
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.month p{
    font-size: 1rem;
}

#calendar-page-image{
    display: block;
    width: 100%;
    height: 100%;
}




/* media queries */ 

@media screen and (max-width: 1300px) and (min-width: 768px) {
    .home-content .content-text h2{
        text-align: center;
        padding: 10px 10px;
    }

    #content-design div{
        padding-bottom: 10px;
        border: 2px solid #fff;
    }

    #content-design{
        border: 2px solid #fff;
    }

    .home-content .content-text div{
        padding-left: 10px;
        padding-top: 10px;
        font-size: 15px;
        margin: 0 auto;
    }

    #minor-male{
        margin-left: 52px;
        font-size: 12px;
        font-weight: 500;
    }
    #minor-female{
        margin-left: 38px;
        font-size: 12px;
        font-weight: 500;
    }

    #adult-male{
        margin-left: 15px;
        font-size: 12px;
        font-weight: 500;
    }
    #adult-female{
        margin-left: 2px;
        font-size: 12px;
        font-weight: 500;
    }
    #minor-male-btn{
        margin-left: 10px;
        padding: 10px 10px;
        border-radius: 10px;
        background: red;
        font-size: 12px;
        font-weight: 600;
    }

    #minor-female-btn{
        margin-left: 10px;
        padding: 10px 10px;
        border-radius: 10px;
        background: orange;
        font-size: 12px;
        font-weight: 600;
    }

    #adult-male-btn{
        margin-left: 10px;
        padding: 10px 10px;
        border-radius: 10px;
        background: yellow;
        font-size: 12px;
        font-weight: 600;
    }

    #adult-female-btn{
        margin-left: 10px;
        padding: 10px 10px;
        border-radius: 10px;
        background: green;
        font-size: 12px;
        font-weight: 600;
    }

    .total{
        display: flex;
        flex-direction: row;
        text-align: center;
    }

    #total-number-minors{
        margin: 10px 10px;
        font-size: 12px;
        font-weight: 600;
    }

    #total-number-adults{
        margin: 10px 10px;
        font-size: 12px;
        font-weight: 600;
    }

    #tally-minors-btn{
        margin-left: 10px;
        margin-top: 10px;
        padding: 10px 10px;
        border-radius: 10px;
        background: turquoise;
        font-size: 12px;
        font-weight: 600;
    }

    #tally-adults-btn{
        margin-left: 10px;
        margin-top: 10px;
        padding: 10px 10px;
        border-radius: 10px;
        background: turquoise;
        font-size: 12px;
        font-weight: 600;
    }
}

